/*Bad move*/
@keyframes bad1_move {
  0% {
    transform: translate(100%, -150%);
  }
  15% {
    transform: translate(150%, 40%);
  }
  100% {
    transform: translate(800%, 0);
  }
}
.bad1_move {
  animation-name: bad1_move;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes bad2_move {
  0% {
    transform: translate(100%, -150%);
  }
  15% {
    transform: translate(150%, 40%);
  }
  100% {
    transform: translate(800%, 0);
  }
}
.bad2_move {
  animation-name: bad2_move;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: reverse;
}

@keyframes bad3_move {
  0% {
    transform: translate(300%, -150%);
  }
  15% {
    transform: translate(300%, 48%);
  }
  100% {
    transform: translate(-900%, 0);
  }
}
.bad3_move {
  animation-name: bad3_move;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes bad4_move {
  0% {
    transform: translate(300%, -150%);
  }
  15% {
    transform: translate(300%, 48%);
  }
  100% {
    transform: translate(-900%, 0);
  }
}
.bad4_move {
  animation-name: bad4_move;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: reverse;
}

@keyframes bad5_move {
  0% {
    transform: translate(100%, -150%);
  }
  15% {
    transform: translate(150%, 40%);
  }
  100% {
    transform: translate(800%, 0);
  }
}
.bad5_move {
  animation-name: bad5_move;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

/*Good move*/
@keyframes good1_move {
  0% {
    transform: translate(300%, -150%);
  }
  15% {
    transform: translate(300%, 48%);
  }
  100% {
    transform: translate(-900%, 0);
  }
}
.good1_move {
  animation-name: good1_move;
  animation-iteration-count: infinite;
}

.good2_move {
  animation-name: good2_move;
  animation-iteration-count: infinite;
  animation-direction: reverse;
}

@keyframes good2_move {
  0% {
    transform: translate(300%, -150%);
  }
  15% {
    transform: translate(300%, 48%);
  }
  100% {
    transform: translate(-900%, 0%);
  }
}

.good3_move {
  animation-name: good3_move;
  animation-iteration-count: infinite;
  animation-direction: reverse;
}

@keyframes good3_move {
  0% {
    transform: translate(100%, -150%);
  }
  15% {
    transform: translate(150%, 40%);
  }
  100% {
    transform: translate(800%, 0);
  }
}

.good4_move {
  animation-name: good4_move;
  animation-iteration-count: infinite;
  animation-direction: reverse;
}

@keyframes good4_move {
  0% {
    transform: translate(100%, -150%);
  }
  15% {
    transform: translate(150%, 40%);
  }
  100% {
    transform: translate(800%, 0);
  }
}

.good5_move {
  animation-name: good5_move;
  animation-iteration-count: infinite;
  animation-direction: reverse;
}

@keyframes good5_move {
  0% {
    transform: translate(300%, -150%);
  }
  15% {
    transform: translate(300%, 48%);
  }
  100% {
    transform: translate(-900%, 0%);
  }
}

/*modsat så når clovn kommer fra højre og går mod venstre*/
@keyframes rotatel {
  0% {
    transform: rotateY(0deg) rotateX(0deg);
  }
  100% {
    transform: rotateY(90deg) rotateX(90deg);
  }
}

/*Når klikket på*/

@keyframes rotater {
  0% {
    transform: rotateX(0deg) rotateY(0deg);
  }
  100% {
    transform: rotateX(90deg) rotateY(90deg);
  }
}

.rotatel {
  animation-name: rotatel;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  transform-origin: bottom;
}

.rotater {
  animation-name: rotater;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  transform-origin: bottom;
}

.paused {
  animation-play-state: paused;
}

/* Knap animationer */
@keyframes pulse_kf {
  0% {
    transform: scale(0.8);
  }

  100% {
    transform: scale(1);
  }
}

.pulse {
  animation-name: pulse_kf;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: alternate;
}

/* TIMER ANIMATIONER  */

.shrink {
  animation-name: shrink_kf;
  animation-duration: 35s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

@keyframes shrink_kf {
  0% {
    scale: 1 1;
    background-color: limegreen;
  }
  50% {
    background-color: rgb(255, 230, 0);
  }
  100% {
    scale: 0 1;
    background-color: red;
  }
}

.zoom_in {
  animation-name: zoom_in;
  animation-duration: 1.25s;
  animation-timing-function: ease-out;
}

@keyframes zoom_in {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}
